* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEEEEE;
  font-family: 'Akshar', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  position: relative;
}

html {
  position: relative;
  font-size: 62.5%;
}


footer {
  font-size: 1.6rem;
  margin-top: 20px;
  color: white;
  text-align: center;
  background-color: #222831;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  overflow: hidden;
}

footer p {
  font-weight: bold;
}

.logo_img {
  height: auto;
  max-width: 10%;
}

header {
  background-color: #222831;
  height: 50px;
  line-height: 50px;
  width: 100%;
  color: white;
}

.wrapper_header {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.wrapper_header  span {
  margin-left: 7px;
  font-size: 20px;
  font-weight: bold;
}

.user_card-container {
  box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.7);
  background-color: #393E46;
  margin: auto;
  width: 5rem;
  max-width: 30%;
  min-width: 30%;
  color: #EEEEEE;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.6rem;
}

.user_card-container > *:not(:first-child) {
  margin: 20px; 
} 

.user_card-container span {
  padding: 10px
}

.nav-buttons > a {
  padding: 10px;
}

.nav-buttons > a > button {
  padding: 10px;
  background-color: #00ADB5;
  border: none;
  color: #EEEEEE;
  border-radius: 3px;
  font-family: 'Akshar', sans-serif;
}

.nav-buttons > a > button:hover {
  cursor: pointer;
}

.user_img {
  max-width: 150px;
  border: 5px solid #00ADB5;
  border-radius: 50%;
}

.container {
  margin: 10px;
  height: auto;
  word-wrap: break-word;
  background-color: #00ADB5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;

}

.repo-item {
  padding: 10px;
  min-width: 20%;
  max-width: 20%;
}

@media(min-width: 120px)  and (max-width:850px)
{
    .user_card-container{
     min-width: 60%;
    }

    .nav-buttons > a  :first-child {
      margin-bottom: 1.5rem;
    }

    .user_card-container span {
      display: block;
    }
 }