.container {
    margin: 10px 10px 0 10px;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    transition: all 0.3s ease-in;
    justify-content: center;
  }
  
  





 