.repo-container {
  margin: 1.5rem 0 1.5rem 0;
  text-align: center;
  position: relative;
}

.repo-container h1 {
  color: #393E46;
  opacity: 0;
  animation: fade-In 1.5s ease-in;
  animation-fill-mode: forwards;
}

@keyframes fade-In {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navigation-arrow {
  position: absolute;
  color: '#222831';
  animation: enter-left 1.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes enter-left {
  0% {
    left: -5rem
  }
  100% {
    left: 1.5rem
  }
}

.navigation-arrow:hover {
  cursor: pointer;
}

.container {
    margin: 10px 10px 0 10px;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    transition: all 0.3s ease-in;
    justify-content: center;
  }


  
  





 